html
{
    background: radial-gradient(circle,#9ED2A1,#D7E5A7,#F9EC9D,#F1A583,#F1A6A0,#CB9DC1);
    height:100%;    font-family: century gothic, sans-serif;
}

#container
{
    height:410px;   width:550px;    position:relative;  background-color: #9992C5;  margin: 100px auto;  padding:25px;
    /* margin keeps extending to left and right */
    box-shadow: 0px 4px 0px 0px #7F7AA3;-moz-box-shadow: 0px 4px 0px 0px #7F7AA3;-webkit-box-shadow: 0px 4px 0px 0px #7F7AA3;
    /* parent container of an absolute elemnt must be relative so it can be placed relative to it  */
}

#score
{
    padding:11px;   left:505px;
    box-shadow: 0px 4px 0px 0px #577B93;-moz-box-shadow: 0px 4px 0px 0px #577B93;-webkit-box-shadow: 0px 4px 0px 0px #577B93;font-size:13px;display:none;visibility:hidden;
}

.fruit img,.fruit
{
    width:35px;height:45px;float:left;position:absolute;
}


.fruit
{
    top:86px;
}
#fruit1 {left:50px;}
#fruit2 {left:165px;}
#fruit3 {left:280px;}
#fruit4{left:395px;}
#fruit5 {left:510px;}
.lives
{
    width:22px;height:22px;float:left;margin:0 auto;
}
.lives:first-child
{
    margin-left:17px;
}


#score,#gameOver    {position:absolute;}

/* display screen */
#display
{
    width:auto;    height:260px;   margin:60px auto 20px auto; background-color:white;
    /* 
    center element in pg
    left/right margins are auto/centered
    need margin top/bottom on absolute elements as they ignore each other
    */
    box-shadow: 0px 7px #577B93;-moz-box-shadow: 0px 7px #577B93;-webkit-box-shadow: 0px 7px #577B93;
}

#instruction    {width:auto;height:35px;box-shadow: 0px 7px #577B93;margin:20px auto;text-align: center;line-height:35px;font-size:11px;}

.Boxes  {border-radius:15px;}

.blue,#startReset:hover,#startReset:active    {background-color: #8EC8F0; color: #577B93; font-weight: bold;}

#startReset
{
    width: 60px;   background-color: rgba(255,255,255,0.5); cursor:pointer;
    margin:0 auto;  padding:10px; bottom:3px;
    box-shadow: 0 4px rgba(0,0,0,0.2);-moz-box-shadow: 0 4px rgba(0,0,0,0.2);-webkit-box-shadow: 0 4px rgba(0,0,0,0.2);
    text-align: center; color:black;   position:relative;
    /* font color transition */
    transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;
    font-size:10px;
    /* so boxes will move relative to orig position */
}

#startReset:active
{
    bottom:5px;   box-shadow: 0 0 rgba(0,0,0,0.2);-moz-box-shadow: 0 0 rgba(0,0,0,0.2);-webkit-box-shadow: 0 0 rgba(0,0,0,0.2);
}

#livesLeft
{
    width:100px;   position:absolute;   left:25px;font-size: 14px; text-align: center; top:30px;
    box-shadow: 0px 5px #577B93;-moz-box-shadow: 0px 5px #577B93;-webkit-box-shadow: 0px 5px #577B93;
}

#gameOver
{
    height:200px;   width:500px;    background:linear-gradient(#D7E5A7,#F9EC9D,#F1A583);    color:#9992C5;    font-size:2.5em;    text-align:center; text-transform: capitalize;  top:112px;  left:48px;  z-index:2; line-height:39px;  display:none;  border:solid 2px #9ED2A1;   font-weight: bold;  
    transition:all 0.2s;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;
}

.foot
{
    padding:30px;height:60px;margin:0 -60px;text-align:center;line-height:-50%;font-weight: bold;color:lightslategrey;
    background: radial-gradient(#FBF5A7,#F5C392,#F3A78D,#F2AAB5,#B296BF,#8BC5EA,#CEE2A5);
	background: -webkit-radial-gradient(#FBF5A7,#F5C392,#F3A78D,#F2AAB5,#B296BF,#8BC5EA,#CEE2A5);
	background: -o-radial-gradient(#FBF5A7,#F5C392,#F3A78D,#F2AAB5,#B296BF,#8BC5EA,#CEE2A5);
	background: -moz-radial-gradient(#FBF5A7,#F5C392,#F3A78D,#F2AAB5,#B296BF,#8BC5EA,#CEE2A5);
    font-size:15px; border:inset 5px #CEE2A5;
}

.foot div p
{
   padding:2px; line-height:50%;
    
}

.audio
{
    display: none;
}

